@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca&display=swap');

:root {
    --font-size: 15px;
    --font-inter: 'Inter', sans-serif;
    --font-lexend-deca: 'Lexend Deca', sans-serif;
    --dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --paragraph-transparent-white: hsla(0, 0%, 100%, 0.75);
    --stat-transparent-white: hsla(0, 0%, 100%, 0.6);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: calc(100vh - 1rem);
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--dark-blue);
}
.main {
    width: 800px;
    height: 20rem;
    background-color: var(--dark-desaturated);
    color: var(--white);
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-family: var(--font-inter);
}
.main__col1 {
    width: 50%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 3rem;
}
.main__information h1 span {
    color: var(--soft-violet);
}
.main__information p {
    padding-top: 1rem;
    font-size: 15px;
    color: var(--paragraph-transparent-white);
}
.main__col2 {
    width: 50%;
    height: inherit; 
    background-image: url(".././images/image-header-desktop.jpg");
    background-size: 100%;
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}

.main__stats {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: var(--font-size);
    font-weight: 600;
}
.main__stats--info {
    text-transform: uppercase;
    width: 100px;
    font-size: 9px;
    color: var(--stat-transparent-white);
}

.attribution {
    height: 1rem;
    font-size: 12px; 
    text-align: center;
    margin-top: auto;
}
.attribution a { 
    color: var(--white);
    text-decoration: none;
}
.attribution a:hover { 
    text-decoration: underline;
}

@media (max-width: 575.98px)
{   
    .body {
        padding: 30px;
    }
    .main {
        width: 100%;
        margin-left: 30px;
        flex-direction: column-reverse;
    }
    .main__col1 {
        width: 100%;
        padding: 0rem;
    }
    .main__col2 {
        width: 100%;
    }
    .main__information {
        font-size: 10px;
    }
    .main__stats {
        padding: 25px;
        align-items: center;
        flex-direction: column;
    }
    .attribution {
        width: 100%;
        height: 1rem;
    }
}